<div class="travel-detail">
  <div class="travel-detail__actions">
    <button class="travel-detail__actions-edit">Edit</button>
  </div>

  <img
    alt="imagen de viaje"
    class="travel-detail__image"
    src="images/city.webp"
  />

  <div class="travel-detail__text-wrapper">
    <span class="travel-detail__main-text">Country:</span>
    <span>EEUU</span>
  </div>

  <div class="travel-detail__text-wrapper">
    <span class="travel-detail__main-text">City:</span>
    <span>Nueva York</span>
  </div>

  <div class="travel-detail__text-wrapper">
    <span class="travel-detail__main-text">Date:</span>
    <span>21-01-2020</span>
  </div>

  <div
    class="travel-detail__text-wrapper travel-detail__text-wrapper--description"
  >
    <span class="travel-detail__main-text">Description:</span>
    <span
      >Viaje sorpresa a Nueva York en Enero para descubrir la ciudad. En el
      viaje no nos nevó y pudimos visitar varios museos: el de Ciencias
      Naturales, el MOMA, el MET. También pudimos ver la Estatua de La Libertad
      e ir de compras.</span
    >
  </div>
</div>
