<div class="top-bar">
  <img
    src="images/Pulpi-Angular.png"
    alt="logo de angular encima del pulpo de la pulpoConf"
    class="top-bar__logo"
  />

  <h1>Mi app de viajes</h1>

  <div class="top-bar__menu">
    <a
      routerLink=""
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="top-bar__menu-option"
      >Home</a
    >
    <a
      routerLink="travels"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="top-bar__menu-option"
      >Travels List</a
    >
  </div>
</div>
